In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

In [85]:
data = pd.read_excel("Greece_listings.xlsx", sheet_name="Listings", converters={"location_name": str, "res_sqr": float, "construction_year": float, "bedrooms": int, "res_price": float})
data.head(10)

          location_name  res_sqr  construction_year bedrooms  res_price
0  Παλαιό Φάληρο-Αττική     55.0             1973.0        1    89000.0
1        Αχαρνές-Αττική     98.0             2010.0        2   150000.0
2       Παγκράτι-Αττική    126.0             1990.0        3   400000.0
3          Αθήνα-Αττική     85.0             1957.0        2    80000.0
4          Ίλιον-Αττική     48.0             1996.0        1   100000.0
5          Αθήνα-Αττική     96.0             1964.0        2   133000.0
6        Γαλάτσι-Αττική     67.0             1970.0        2    35000.0
7  Λαγκάδας-Θεσσαλονίκη    280.0             2012.0        5    89000.0
8          Αθήνα-Αττική     75.0             1972.0        2   130000.0
9          Δάφνη-Αττική    338.0             2002.0        3   450000.0

In [99]:
x = data.iloc[:, 1:-2].values
y = data.iloc[:,-1].values
x

array([[  55., 1973.],
       [  98., 2010.],
       [ 126., 1990.],
       ...,
       [ 213., 1985.],
       [ 125., 2022.],
       [  41., 2004.]])

In [100]:
y

array([ 89000., 150000., 400000., ..., 200000., 355000., 120000.])

In [101]:
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
imputer.fit(x[:, 0:1])
x[:, 0:1] = imputer.transform(x[:, 0:1])

In [106]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [108]:
plt.style.use("ggplot")
plt.scatter(x=y_train, y=x_train[:, 0:1], marker="o", c="b")
plt.title("Price vs Square meters")
plt.xlabel("Price")
plt.ylabel("Square meters")
plt.show()

(15351, 2)